---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="The Institute of Techgronomy">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      InstituteOfTechgronomy.com <br /><span class="text-gradient"
        >The Institute of Techgronomy Website</span>
    </h1>

    <AnarenSamples />
    
    <p class="lead text-white">
      The Institute of Techgronomy educates students in precision agriculture and software engineering, offering courses that merge technology with farming to enhance agricultural efficiency and technological applications in the field..</p>
        <br>
        <p class="text-white">I Built the website using modern web development technologies such as HTML5, CSS3, JavaScript, and Bootstrap for responsive design. I used video editing tools like Final Cut Pro and image optimization with Photoshop and Illustrator to create stunning visuals, ensuring fast load times and high-quality content delivery. Content management was streamlined with a Drupal backend, providing easy updates and scalability. Integrations with platforms like YouTube and Vimeo for video embedding enhanced user engagement. The use of SEO best practices and tools like Google Analytics ensured visibility and performance tracking, helping the developer showcase their expertise and attract potential clients.</p>

        <p class="mb-6 text-gray-300 md:text-lg">
          The website is live and can be viewed at  <a
            href="https://www.instituteoftechgronomy.com"
            target="_blank"
            class="underline inline"
            >this link The Institute Of Techgronomy</a
          > Hopefully we can build something simliar for you.
        </p>

    <BackButton />
</div>
</Layout>

<style>
</style>

