---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import CTA from "../components/CTA.astro";
import Contact from "../components/Contact.astro";

//Professional Work Components
import Iot from "../components/Iot.astro";
//Project Components
import Python from "../components/Python.astro";
---

<Layout title="Hatting.dev Portfolio">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        Welcome to my portfolio! I’m Jarrod Hatting, a multidisciplinary freelance professional specializing in web development, IoT integration, graphic design, and videography. With a background in software engineering and a passion for content creation, I’ve delivered innovative solutions across a range of industries, from e-commerce and corporate web development to IoT automation and precision agriculture. As the founder of hatting.dev, I’ve helped businesses enhance their digital presence through custom web apps, stunning visuals, and smart technology integration. Explore my work to see how I can bring your vision to life.Please don't hesitate to <a
            href="#contact"
            class="underline text-gray-300">reach out</a
          >.
        </p>
      </div>
      <div class="mb-16">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
        Videography Content Creation
        </h2>
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400">
          Throughout my career, I have combined technical expertise with creative storytelling to deliver impactful videography projects. As the founder of hatting.dev, I’ve worked on a range of video content, from corporate promotional videos to educational pieces. I utilize tools like Final Cut Pro and Adobe Illustrator to create visually compelling narratives that engage audiences. Notable projects include producing video tutorials for precision agriculture as part of the Institute of Techgronomy’s educational programs, and developing promotional videos for businesses integrating IoT solutions. My videography services focus on high-quality production, seamless editing, and strategic messaging to elevate brand visibility. 
          <a
            href="https://www.youtube.com/@jarrodhatting7585/videos"
            target="_blank"
            class="underline text-gray-300">YouTube</a>
            <a
            href="https://vimeo.com/user217969254"
            target="_blank"
            class="underline text-gray-300">Vimeo</a>
        </p>
        <CustomImageScroll />
      </div>

      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Professional Work
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="anaren"
            title="InstituteOfTechgronomy.com"
            body="The Institute of Techgronomy's website focuses on education in precision agriculture and software engineering. It offers courses and resources that combine technology and farming to improve productivity and efficiency in agriculture."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <Iot />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="anaren"
            title="TexomaTrucking.com"
            body="Texoma Trucking specializes in the nationwide transportation of steel and trailers, offering reliable, hassle-free delivery from manufacturers in southern Oklahoma and northern Texas. As a family-owned business, they provide competitive pricing, customized transport solutions, and exceptional service."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <Iot />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="anaren"
            title="DataCablingTexoma.com"
            body="Data Cabling Texoma provides professional data cabling services in the Texoma area. They specialize in network and structured cabling, voice and data cabling, audio/video installation, server room organization, and more for businesses and homes."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <Iot />
            </div>
          </Card>
        </div>
      </div>
      <div class="my-8 bg-black">
        <CTA />
      </div>
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Fun Projects
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            title="Misc Python Apps"
            body="Miscellaneous Python applications and scripts I've made to help me learn Python and to use as productivity tools or save me time."
            tags="Python"
            github="https://github.com/leabs/misc-python-apps"
          >
            <Python />
          </Card>
        </div>
        <div class="">
          <Card
            title="Misc Python Apps"
            body="Miscellaneous Python applications and scripts I've made to help me learn Python and to use as productivity tools or save me time."
            tags="Python"
            github="https://github.com/leabs/misc-python-apps"
          >
            <Python />
          </Card>
        </div>
        <div class="">
          <Card
            title="Misc Python Apps"
            body="Miscellaneous Python applications and scripts I've made to help me learn Python and to use as productivity tools or save me time."
            tags="Python"
            github="https://github.com/leabs/misc-python-apps"
          >
            <Python />
          </Card>
        </div>
      </div>
      <div class="my-8">
        <Contact />
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>
