---
const cards = [
  {
    title: "Remote Sensing for Precision Agriculture",
    imagealt: "Remote Sensing for Precision Agriculture",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Remote+Sensing+for+Precision+Agriculture.png",
    href: "https://vimeo.com/984420989?share=copy#t=0",
  },
  {
    title: "The Internet of Things in Digital Agriculture: Principles, Technologies, and Applications",
    imagealt: "he Internet of Things in Digital Agriculture: Principles, Technologies, and Applications",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/The+Internet+of+Things+in+Digital+Agriculture+Principles%2C+Technologies%2C+and+Applications.png",
    href: "https://vimeo.com/985044635?share=copy#t=0",
  },
  {
    title: "Site-Specific Field Management I (Precision Agriculture)",
    imagealt: "Site-Specific Field Management I (Precision Agriculture)",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Site-Specific+Field+Management+I+(Precision+Agriculture).png",
    href: "https://vimeo.com/985208739?share=copy#t=0",
  },
  {
    title: "GNSS for Precision Agriculture Professionals",
    imagealt: "GNSS for Precision Agriculture Professionals",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/GNSS+for+Precision+Agriculture+Professionals.png",
    href: "https://vimeo.com/984505329?share=copy#t=0",
  },
  {
    title: "Chapter 1 Introduction to Digital Agriculture and the Internet of Things  1.1 Overview of Digital Agriculture",
    imagealt: "Chapter 1 Introduction to Digital Agriculture and the Internet of Things  1.1 Overview of Digital Agriculture",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Chapter+1+Introduction+to+Digital+Agriculture+and+the+Internet+of+Things+++Overview+of+Digital+Agriculture.png",
    href: "https://vimeo.com/941676508?share=copy#t=0",
  },
  {
    title: "Exploring the Future of Agriculture: Introducing Techgronomy",
    imagealt: "Exploring the Future of Agriculture: Introducing Techgronomy",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Exploring+the+Future+of+Agriculture+Introducing+Techgronomy.png",
    href: "https://vimeo.com/933068607?share=copy#t=0",
  },
  {
    title: "CO-CREATE CONTAINERS PART ONE (LUXURY HOME BUILD)",
    imagealt: "CO-CREATE CONTAINERS PART ONE (LUXURY HOME BUILD)",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/CO-CREATE+CONTAINERS+PART+ONE+(LUXURY+HOME+BUILD).png",
    href: "https://youtu.be/1RHSppAqaH8?si=JYZQbdtfjsrb7-Wn",
  },
  {
    title: "Pavones - Costa Rica 2018",
    imagealt: "Pavones - Costa Rica 2018",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Pavones+-+Costa+Rica+2018.png",
    href: "https://youtu.be/p6S0ipbrEP0?si=OqAkwzN4t9beHbZf",
  },
  {
    title: "Lago Bay - residential community in Panama",
    imagealt: "Lago Bay - residential community in Panama",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Lago+Bay+-+residential+community+in+Panama.png",
    href: "https://youtu.be/-xahgpQxobc?si=8RDdux2UgI08O4ig",
  },
  {
    title: "USA Tour - Part 10 - Senioa National Park Project",
    imagealt: "USA Tour - Part 10 - Senioa National Park Project",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/+USA+Tour+-+Part+10+-+Senioa+National+Park+Project.png",
    href: "https://youtu.be/Uj57Hzu38_c?si=55YExjH570EHsdQP",
  },
  {
    title: "U...",
    imagealt: "US...",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Remote+Sensing+for+Precision+Agriculture.png",
    href: "https://www.youtube.com/watch?v=R2KZsakOS8c",
  },
  {
    title: "13 Python Scripts I Use",
    imagealt: "13 Python Scripts I Use thumbnail",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Remote+Sensing+for+Precision+Agriculture.png",
    href: "https://www.youtube.com/watch?v=R2KZsakOS8c",
  },
  {
    title: "13 Python Scripts I Use",
    imagealt: "13 Python Scripts I Use thumbnail",
    image: "https://hattingdev.s3.us-east-2.amazonaws.com/Remote+Sensing+for+Precision+Agriculture.png",
    href: "https://www.youtube.com/watch?v=R2KZsakOS8c",
  },
];
---

<div class="flex my-4 items-center justify-center">
  <div class="relative w-full overflow-hidden">
    <!-- For some reason the white vignette effect don't work in this sandbox but if you uncomment the following lines in VSCode, they should work -->

    <div class="block">
      <div
        class="pointer-events-none absolute -top-1 z-10 h-20 w-full bg-gradient-to-b from-zinc-950 to-transparent"
      >
      </div>
      <div
        class="pointer-events-none absolute -bottom-1 z-10 h-20 w-full bg-gradient-to-t from-zinc-950 to-transparent"
      >
      </div>
      <div
        class="pointer-events-none absolute -left-1 z-10 h-full w-20 bg-gradient-to-r from-zinc-950 to-transparent"
      >
      </div>
      <div
        class="pointer-events-none absolute -right-1 z-10 h-full w-20 bg-gradient-to-l from-zinc-950 to-transparent"
      >
      </div>
    </div>

    <div
      id="scroller"
      class="mx-auto grid h-[450px] w-[300px] animate-skew-scroll grid-cols-1 gap-5 sm:w-[750px] sm:grid-cols-2"
    >
      <!-- These are all the same components - if you're using React, you can use a map to iterate through all of them -->
      {
        cards.map((card) => (
          <a
            target="_blank"
            href={card.href}
            class="cursor-pointer items-center bg-zinc-900 space-x-2 p-4 shadow-md transition-all hover:-translate-y-1 hover:translate-x-1 hover:scale-[1.025] hover:shadow-xl"
          >
            <div class="flex-shrink-0">
              <img
                loading="eager"
                src={card.image}
                alt={card.imagealt}
                class="mb-4 border  border-black"
              />
            </div>
            <div class="flex flex-col">
              <h3 class="font-semibold text-white">{card.title}</h3>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</div>
<style></style>
<script>
  //On screens lower than 640px, animation skew-scroll should translateY(-830%)
  //On screens higher than 640px, animation skew-scroll should translateY(-430%)
</script>
