s---
import { Image } from 'astro:assets';
import sausage from '../assets/sausage.png';
---

<div>
  <Image
    class="project-image border  border-black"
    src={sausage}
    alt="sausage brand logo"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
